*{
	text-decoration: none;
	list-style-type: none;
}
section{
	background-color: #DFDFDF;
}
header{
	background-color: #009688;
	width: 100%;
	height: 85px;
}

/* -- Header Chat - Section -- */
.chat{
	position: relative;
	bottom: 60px;
}
.chat .row:first-child{
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
}
.caja img{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-top: 8px;
	margin-bottom: 8px;
}
.caja i{
	color: gray;
	float: right;
	margin: auto 2%;
	position: relative;
	font-size: 1.2em;
	top: 20px;
}
.right{
	border-left: 1px solid #CCCCCC;
}
.right div{
	display: inline-block;
	position: relative;
	top: 12px;
	left: 5px;
}
.right div p:last-child{
	color: gray;
	font-size: 0.9em;
}
.right p, .texto p{
	margin: 0 ;
}

/*Chat*/
input::-webkit-input-placeholder {
	font-size: 0.9em;
}
input:-moz-placeholder {
	font-size: 0.9em; 
}
input:-ms-input-placeholder { 
	font-size: 0.9em; 
}
.box{
	padding: 3.5%;
	background-color: white;
	border: 1px solid #CCCCCC;
}
.box input{
	border-radius: 5px;
	border: 1px solid #E0E0E0;
	padding: 8px 5px 8px 40px;
	width: 100%;
}
.box i{
	position: absolute;
	top: 25px;
	left: 30px;
	color: gray;
}
.relleno{
	padding: 0 !important;
}
.friend{
	background-color: white;
	border: 1px solid #CCCCCC;
	padding: 2% 3%;
}
.friend img{
	width: 52px;
	height: 52px;
	border-radius: 50%;
	margin-right: 8px;
}
.friend img, .texto, .hora{
	display: inline-block;
}
.hora{
	float: right;
	position: relative;
	top: 10px;
	color: gray;
}
.texto p:last-child{
	color: gray;
	font-size: 0.9em;
}
.texto{
	position: relative;
	top: 12px;
}